<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Editar Produto</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container pequeno">
    <h1>Editar Produto</h1>

    <form action="/produtos/editar/<%= produto._id %>" method="POST">
      <input type="text" name="nome" value="<%= produto.nome %>" required>

      <textarea name="descricao" required><%= produto.descricao %></textarea>

      <input type="number" name="preco" value="<%= produto.preco %>" required>

      <input type="text" name="categoria" value="<%= produto.categoria %>" required>

      <input type="number" name="estoque" value="<%= produto.estoque %>" required>

      <input 
        type="text" 
        name="atributos" 
        value="<% if (produto.atributos) { %><% for (let [chave, valor] of produto.atributos) { %><%= chave %>: <%= valor %>, <% } %><% } %>"
      >

      <button type="submit">Atualizar</button>
    </form>

    <a href="/produtos">Voltar</a>
  </div>

</body>
</html>